[submodule "Draftsman/Tools/Submodules/ProjectDependencies/ProjectDependencies"]
	path = Draftsman/Tools/Submodules/ProjectDependencies/ProjectDependencies
	url = https://github.com/Robot-Fromage/ProjectDependencies
